<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="superheros">
            <h2><span jhiTranslate="heroesApp.superheros.detail.title">Superheros</span> {{ superheros.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="heroesApp.superheros.nom">Nom</span></dt>
                <dd>
                    <span>{{ superheros.nom }}</span>
                </dd>
                <dt><span jhiTranslate="heroesApp.superheros.vignette">Vignette</span></dt>
                <dd>
                    <span><img [src]="superheros.vignette"></span>
                </dd>
                <dt><span jhiTranslate="heroesApp.superheros.description">Description</span></dt>
                <dd>
                    <span>{{ superheros.description }}</span>
                </dd>
                <dt><span jhiTranslate="heroesApp.superheros.superteam">Superteam</span></dt>
                <dd>
                    <div *ngIf="superheros.superteam">
                        <a [routerLink]="['/superteam', superheros.superteam?.id, 'view']">{{ superheros.superteam?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/superheros', superheros.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
