<div>
    <h2 id="page-heading">
        <span jhiTranslate="heroesApp.superheros.home.title">Superheros</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-superheros" [routerLink]="['/superheros/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="heroesApp.superheros.home.createLabel">
            Create a new Superheros
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="superheros?.length === 0">
        <span jhiTranslate="heroesApp.superheros.home.notFound">No superheros found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="superheros && superheros.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="heroesApp.superheros.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vignette"><span jhiTranslate="heroesApp.superheros.vignette">Vignette</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="heroesApp.superheros.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="superteam.id"><span jhiTranslate="heroesApp.superheros.superteam">Superteam</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let superheros of superheros ;trackBy: trackId">
                    <td><a [routerLink]="['/superheros', superheros.id, 'view']">{{ superheros.id }}</a></td>
                    <td>{{ superheros.nom }}</td>
                    <td><img [src]="superheros.vignette"></td>
                    <td>{{ superheros.description }}</td>
                    <td>
                        <div *ngIf="superheros.superteam">
                            <a [routerLink]="['/superteam', superheros.superteam?.id, 'view']" >{{ superheros.superteam?.nom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/superheros', superheros.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/superheros', superheros.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(superheros)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
