<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-superheros-heading" jhiTranslate="heroesApp.superheros.home.createOrEditLabel">Create or edit a Superheros</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="heroesApp.superheros.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="heroesApp.superheros.vignette" for="field_vignette">Vignette</label>
                    <input type="text" class="form-control" name="vignette" id="field_vignette"
                           formControlName="vignette"/>
                    <label class="form-control-label" jhiTranslate="heroesApp.superheros.preview"  [hidden]="!editForm.get('id')!.value">Preview</label><br>
                    <img [src]="editForm.get('vignette')!.value">
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="heroesApp.superheros.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="heroesApp.superheros.superteam" for="field_superteam">Superteam</label>
                    <select class="form-control" id="field_superteam" name="superteam" formControlName="superteam">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="superteamOption.id === editForm.get('superteam')!.value?.id ? editForm.get('superteam')!.value : superteamOption" *ngFor="let superteamOption of superteams; trackBy: trackById">{{ superteamOption.nom }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
