<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-superteam-heading" jhiTranslate="heroesApp.superteam.home.createOrEditLabel">Create or edit a
                Superteam</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="heroesApp.superteam.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>
            </div>

            <div class="table-responsive" id="entities"
                 *ngIf="superteam!.superheros && superteam.superheros.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr>
                        <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                        <th scope="col"><span jhiTranslate="heroesApp.superheros.nom">Nom</span></th>
                        <th scope="col"><span jhiTranslate="heroesApp.superheros.vignette">Vignette</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let superhero of superteam!.superheros ;trackBy: trackId">
                        <td><a [routerLink]="['/superhero', superhero.id, 'view']">{{ superhero.id }}</a></td>
                        <td>{{ superhero.nom }}</td>
                        <td><img [src]="superhero.vignette"></td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button (click)="deleteSuperheroFromTeam(superteam, superhero)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="times"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <a routerLink="/superheros">
                    <button type="button" id="add-entity" [disabled]="editForm.invalid || isSaving"
                            class="btn btn-primary">
                        <fa-icon icon="plus"></fa-icon>&nbsp;<span
                        jhiTranslate="heroesApp.superheros.add">Add superhero</span>
                    </button>
                </a>
            </div>
        </form>
    </div>
</div>
