<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="superteam">
            <h2><span jhiTranslate="heroesApp.superteam.detail.title">Superteam</span> {{ superteam.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="heroesApp.superteam.nom">Nom</span></dt>
                <dd>
                    <span>{{ superteam.nom }}</span>
                </dd>
            </dl>

            <div class="table-responsive" id="entities" *ngIf="superteam.superheros && superteam.superheros.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr>
                        <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                        <th scope="col" ><span jhiTranslate="heroesApp.superheros.nom">Nom</span></th>
                        <th scope="col" ><span jhiTranslate="heroesApp.superheros.vignette">Vignette</span></th>
                     </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let superhero of superteam.superheros ;trackBy: trackId">
                        <td><a [routerLink]="['/superhero', superhero.id, 'view']">{{ superhero.id }}</a></td>
                        <td>{{ superhero.nom }}</td>
                        <td><img [src]="superhero.vignette"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/superteam', superteam.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
