<div>
    <h2 id="page-heading">
        <span jhiTranslate="heroesApp.superteam.home.title">Superteams</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-superteam" [routerLink]="['/superteam/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="heroesApp.superteam.home.createLabel">
            Create a new Superteam
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="superteams?.length === 0">
        <span jhiTranslate="heroesApp.superteam.home.notFound">No superteams found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="superteams && superteams.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="heroesApp.superteam.nom">Nom</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let superteam of superteams ;trackBy: trackId">
                    <td><a [routerLink]="['/superteam', superteam.id, 'view']">{{ superteam.id }}</a></td>
                    <td>{{ superteam.nom }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/superteam', superteam.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/superteam', superteam.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(superteam)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
