<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span jhiTranslate="global.title" class="navbar-title">HeroesApp</span> <span class="navbar-version">{{ version }}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="superheros" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="mask"></fa-icon>
                        <span jhiTranslate="global.menu.entities.superheros">Superheros</span>
                    </span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="superteam" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="users"></fa-icon>
                        <span jhiTranslate="global.menu.entities.superteam">Superteam</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
